<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>Upload csv file with publications</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <%= form_tag(publications_index_path, method: "get") do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= label_tag(:search, "Enter ISBN or Autor E-mail address: ", class: "input-group-text") %>
          </div>
          <input type="text" name="search" class="form-control" placeholder="Search" aria-label="Search">
          
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>  
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-6">
      <%= form_with(url: { action: :upload }, multipart: true) do %>
      <div class="input-group">      
        <div class="custom-file">
          <input type="file" name="csvfile" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary" value="Upload">
        </div>
      </div>
      <% end %>
    </div>    
  </div>

  <br/>

  <div class="row">
    <div class="col-12">
      <a class="btn btn-success btn-sm float-left" href="<%= main_index_path %>" role="button">Back to menu</a>
      <a class="btn btn-primary btn-sm float-right" href="<%= author_index_path %>" role="button">Go to authors</a>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-bordered table-sm">
        <colgroup>
          <col width="20%;">
          <col width="7%;">
          <col width="15%;">
          <col>
          <col width="6%;">
        </colgroup>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Authors</th>
          <th>Description</th>
          <th>Published At</th>
        </tr>
        <% @publications.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td class="isbn"><%= item.isbn %></td>
            <td><%= item.authors %></td>
            <td><%= item.description %></td>
            <td class="published_at"><%= item.published_at %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-12">
      <a class="btn btn-success btn-sm float-left" href="<%= main_index_path %>" role="button">Back to menu</a>
      <a class="btn btn-primary btn-sm float-right" href="<%= author_index_path %>" role="button">Go to authors</a>
    </div>
  </div>
</div>